<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529531720727-vfsanq9cbjkmk303bujl67n8l0efutlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529531720727-vfsanq9cbjkmk303bujl67n8l0efutlg</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ0Ge7-HarQQZoKipTXjeVgb2K_1htbUU</string>
	<key>GCM_SENDER_ID</key>
	<string>529531720727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatStartingProject</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9296c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9296c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529531720727:ios:e6e131ea0aa47b0a9cb852</string>
</dict>
</plist>